.mcc-edit-search-wrapper {
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: grey;
	padding: 1em;

	&.no-results {
		margin-top: 1em;
	}

	.mcc-edit-search-instructions {
		font-style: italic;
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	.mcc-editor-links {
		ul {
			display: flex;
			flex-direction: row-reverse;
			list-style-type: none;
			margin: 0;
		
			li {
				display: block;
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}
	}

	.mcc-edit-search {
		display: flex;
		flex-direction: row;
		margin-bottom: 1em;

		.components-base-control {
			margin-left: 10px;
			margin-right: 10px;
		}

		.mcc-edit-search-fields-select {
			flex-basis: 20%;
			flex-grow: 1;
		}

		.mcc-edit-search-comparator-select {
			flex-basis: 20%;
			flex-grow: 1;
		}

		.mcc-edit-search-input {
			flex-basis: 60%;
			flex-shrink: 1;
		}
	}
}

.mcc-repository-object-list-edit {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 1em;
	margin-top: 0.5em;
}

.mcc-edit-url-form {
	input {
		width: 20em;
		margin-right: 1em;
	}
}